<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.nicor.tests.TC_02_005"/>
      <class name="com.nicor.tests.TC_02_004"/>
      <class name="com.nicor.tests.TC_02_026"/>
      <class name="com.nicor.tests.TC_02_007"/>
      <class name="com.nicor.tests.TC_02_006"/>
      <class name="com.nicor.tests.TC_02_001"/>
      <class name="com.nicor.tests.TC_02_023"/>
      <class name="com.nicor.tests.TC_02_022"/>
      <class name="com.nicor.tests.TC_02_003"/>
      <class name="com.nicor.tests.TC_02_025"/>
      <class name="com.nicor.tests.TC_02_002"/>
      <class name="com.nicor.tests.TC_02_024"/>
      <class name="com.nicor.tests.TC_02_021"/>
      <class name="com.nicor.tests.TC_02_020"/>
      <class name="com.nicor.tests.TC_02_009"/>
      <class name="com.nicor.tests.TC_02_008"/>
      <class name="com.nicor.tests.TC_02_016"/>
      <class name="com.nicor.tests.TC_02_015"/>
      <class name="com.nicor.tests.TC_02_018"/>
      <class name="com.nicor.tests.TC_02_017"/>
      <class name="com.nicor.tests.TC_02_012"/>
      <class name="com.nicor.tests.TC_02_011"/>
      <class name="com.nicor.tests.TC_02_014"/>
      <class name="com.nicor.tests.TC_02_013"/>
      <class name="com.nicor.tests.TC_02_010"/>
      <class name="com.nicor.tests.TC_01_007"/>
      <class name="com.nicor.tests.TC_01_006"/>
      <class name="com.nicor.tests.TC_01_005"/>
      <class name="com.nicor.tests.TC_01_004"/>
      <class name="com.nicor.tests.TC_01_003"/>
      <class name="com.nicor.tests.TC_01_002"/>
      <class name="com.nicor.tests.TC_01_001"/>
      <class name="com.nicor.tests.TC_02_019"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
